.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

ul {
  padding-left: 0px;
  margin: 1px;
  border: 1px solid black;
}

li {
  list-style-type: none;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}

.country--highlighted {
  background-color: red;
}

.active {
  background-color: #3b46f3;
}

input {
  padding: 10px;
}
